<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ascland.cascade.mapper.CourseMapper">

    <!--定义teacherMap-->
    <resultMap id="teacherMap" type="teacher">
        <id property="teacherId" column="t_id"/>
        <result property="teacherName" column="t_name"/>
        <result property="teacherGender" column="t_gender"/>
        <result property="teacherAge" column="t_age"/>
    </resultMap>

    <!--定义courseMap-->
    <resultMap id="courseMap" type="course">
        <id property="courseId" column="c_id"/>
        <result property="courseName" column="c_name"/>
        <result property="courseDesc" column="c_desc"/>

        <!--【方式二】嵌套结果映射
        <association property="teacher" column="teacher_id" javaType="com.ascland.cascade.pojo.Teacher">
            <id property="teacherId" column="t_id"/>
            <result property="teacherName" column="t_name"/>
            <result property="teacherGender" column="t_gender"/>
            <result property="teacherAge" column="t_age"/>
        </association>-->

        <!--【方式一】使用resultType关联  resultMap="teacherMap"-->
        <association property="teacher" column="teacher_id" resultMap="teacherMap"/>
    </resultMap>

    <resultMap id="courseStudentMap" type="course" extends="courseMap">
        <!--一对多关联学生-->
        <collection property="students" javaType="list" ofType="student">
            <id property="studentId" column="c_id"/>
            <result property="studentName" column="s_name"/>
            <result property="studentGender" column="s_gender"/>
            <result property="studentAge" column="s_age"/>
            <result property="classId" column="class_id"/>
        </collection>
    </resultMap>

    <select id="getCourseMap" resultMap="courseMap" parameterType="course">
        SELECT
        c.c_id AS courseId,
        c.c_name AS courseName,
        c.c_desc AS courseDesc,
        t.t_id,
        t.t_name,
        t.t_gender,
        t.t_age
        FROM t_course c LEFT JOIN t_teacher t on c.teacher_id = t.t_id
        WHERE
        <if test="courseId!=0">
            c.c_id = #{courseId};
        </if>
        <if test="courseName !=null and courseName != ''">
            c.c_name = #{courseName};
        </if>
    </select>

    <!--
    org.apache.ibatis.exceptions.TooManyResultsException: Expected one result (or null) to be returned by selectOne(), but found: 5
    -->
    <select id="getCourseStudentMap" resultMap="courseStudentMap" parameterType="int">
        SELECT
          c.c_id     AS courseId,
          c.c_name   AS courseName,
          c.c_desc   AS courseDesc,

          t.t_id     ,
          t.t_name   ,
          t.t_gender ,
          t.t_age    ,

          s.s_id     ,
          s.s_name   ,
          s.s_gender ,
          s.s_age,
          s.class_id,
        FROM t_course c
          LEFT JOIN t_teacher t ON c.teacher_id = t.t_id
          LEFT JOIN t_student_course sc ON sc.sc_c_id = c.c_id
          LEFT JOIN t_student s ON s.s_id = sc.sc_s_id
        WHERE c.c_id = #{courseId};
    </select>
</mapper>