<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ascland.cascade.pojo.Student">

    <!--定义resultMap-->
    <resultMap id="studentMap" type="student">
        <id property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="gender" column="s_gender"/>
        <result property="age" column="s_age"/>
    </resultMap>

    <resultMap id="studentCourseMap" type="student" extends="studentMap">
        <collection property="courses" ofType="course">
            <id property="id" column="c_id"/>
            <result property="name" column="c_name"/>
            <result property="desc" column="c_desc"/>
            <association property="teacher" column="teacher_id" javaType="teacher"/>
        </collection>
    </resultMap>

</mapper>