#【例子】
#忽略掉所有文件名是foo.txt的文件.
#foo.txt
# 忽略所有html文件,
#*.html
# 忽略*.o和*.a文件
#*.[oa]
# 忽略*.b和*.B文件，my.b除外
#*.[bB]
#!my.b
# 忽略dbg文件和dbg目录
#dbg
# 只忽略dbg目录，不忽略dbg文件
#dbg/
# 只忽略dbg文件，不忽略dbg目录
#dbg
#!dbg/
# 只忽略当前目录下的dbg文件和目录，子目录的dbg不在忽略范围内
#/dbg


#以'#'开始的行，被视为注释.                                                                                              
#在.gitignore里列举了需要过滤的文件.但是还是被git标注为修改..这是为什么呢?
#这种现象常见于以前用git同步项目,却没有使用.gitignore,现在从某个版本起增加了.gitignore文件.
#如果一个文件以前是被git追踪的,虽然现在突然出现在.gitignore文件过滤列表中,那么它还是会继续被追踪的.
#先删除这个文件,再提交一次版本更新就可以解决这个问题

.idea
target
