<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <!--设置选项-->
    <settings>
        <!--缓存设置，默认true-->
        <setting name="cacheEnabled" value="true"/>
        <!--缓存机制，默认SESSION，可选STATEMENT-->
        <setting name="localCacheScope" value="SESSION"/>

        <!--延迟加载的全局开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--是否延迟加载，默认true，全部加载-->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!--设置超时时间-->
        <setting name="defaultStatementTimeout" value="3000"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!--自动将下划线字段解析为驼峰命名的属性-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--自动映射，默认PARTIAL-->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!--允许JDBC支持自动生成主键,需要驱动的兼容-->
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <!--使用全限定类名定义别名-->
        <!--<typeAlias type="com.ascland.mapping" alias="role"/>-->

        <!--当POJO比较多时，可以使用package包扫描形式配置，并添加类的注解@Alias("role")，
        对于不添加注解的，MyBatis也会自动扫描生成别名，将类的首字母小写作为别名-->
        <package name="com.ascland.mapping"/>
        <package name="com.ascland.cascade.pojo"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC">
                <property name="autoCommit" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${data_source_driverClass}"/>
                <property name="url" value="${data_source_url}"/>
                <property name="username" value="${data_source_username}"/>
                <property name="password" value="${data_source_password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/ascland/mapping/RoleMapper.xml"/>
        <mapper resource="com/ascland/mapping/UserMapper.xml"/>
        <mapper resource="com/ascland/cascade/mapper/CourseMapper.xml"/>
        <mapper resource="com/ascland/cascade/mapper/ClassMapper.xml"/>
        <mapper resource="com/ascland/cascade/mapper/StudentMapper.xml"/>

        <!--批量加载映射配置文件,mybatis自动扫描包下面的mapper接口进行加载
        遵循一定的规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在一个目录中；
        上边规范的前提是：使用的是mapper代理方法; -->
        <!--<package name="com.ascland.mapping>-->

        <!--通过mapper接口加载单个映射配置文件
        遵循一定的规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在一个目录中；
        上边规范的前提是：使用的是mapper代理方法;-->
        <!--<mapper class="com.ascland.mappingoleMapper"/>-->
    </mappers>
</configuration>
